p{
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: #3f474e;
    color: #fff;
}

.mt-10{
    margin-top: 10px;
}
.content-wrapper>.content{
    padding-top: 15px;
}
.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
.mr-5{
    margin-right: 5px!important;
}
.pointer{
    cursor: pointer;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: transparent;
    border-top: 4px solid #f4f6f9;
}
.hidden{
    display: none;
}

.bootstrap-tagsinput .badge {
    margin: 2px 2px;
    padding: 5px 8px;
    border-radius: 4px;
}
.bootstrap-tagsinput {
    min-height: calc(2.25rem + 2px);
}
img.img-thumb {
    height: 50px;
    width: 80px;
}
.imgPreview {
    height: 150px;
    width: 500px;
}

.imgPreview img {
    height: 100%;
    width: 100%;
}
li.dropdown.user.user-menu {
    position: relative;
    line-height: 40px;
}

li.dropdown.user.user-menu .user-image {
    height: 30px;
    width: 30px;
    margin-top: 1px;
    border: 1px solid #eee;
    flex: 0 0 30px;
}

li.dropdown.user.user-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
}

li.dropdown.user.user-menu .dropdown-menu {
    margin-top: 8px;
}
span.badge {
    padding: 4px 8px;
    border-radius: 4px;
}
.badge {
    padding: 4px 8px;
    display: inline-block;
}
.label {
    display: inline-block;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.notify {
    z-index: 9999!important;
}





.tata {
    width: 320px;
    border-radius: 4px!important;
    color: #000!important;
    background: #fff!important;
    font-size: 15px;
    z-index: 9999;
    padding: 16px 13px 16px 22px!important;
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
}
.tata .tata-icon {
    font-size: 1.2em!important;
    color: inherit;
    color: #fff!important;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    flex: 0 0 35px;
    line-height: 33px;
    text-align: center;
    margin-left: 20px;
}
.tata .tata-close{
    color: red!important;
}
.tata::before {
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    border-radius: 4px 0 0 4px;
}

.tata-title{
    font-weight: bold;
}

.tata.success .tata-icon, .tata.success::before, .tata.success .tata-progress{
    background: #20c997!important;
}

.tata.error .tata-icon, .tata.error::before{
    background: #e9546b!important;
}
.tata.info .tata-icon, .tata.info::before{
    background: #2ca9e1!important;
}
.tata.text .tata-icon, .tata.text::before{
    background: #323232!important;
}

.tata.success .tata-body >*{
    color: #20c997!important;
}

.tata.error .tata-body >*{
    color: #e9546b!important;
}
.tata.info .tata-body >*{
    color: #2ca9e1!important;
}
.tata.text .tata-body >*{
    color: #323232!important;
}
